# Flask Configuration
FLASK_ENV=production
PYTHONUNBUFFERED=1
# Database Configuration
DB_USER=testuser
DB_PASSWORD=testpass
DB_NAME=testdb
DB_HOST=mdv_db
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
POSTGRES_DB=testdb
ENABLE_AUTH=0
ENABLE_CHAT=0
